.submit-form {
  text-align: center;

  input[type=text] {
    padding: 2px 10px;
    width: 25%;
    height: 30px;
    outline: none;
    font-size: 16px;
    color: darkslategray;
  }

  button {
    font-size: 16px;
    height: 37px;
    background-color: orange;
    cursor: pointer;
    border: none;
    width: 40px;
    color: white;
    margin-left: 2px;
    border: 1px solid slategray;
  }
}